:root {
    --h1-fs: 24px;
    --p-fs: 24px;
    --p-lh: 34px;
    --caption-fs: 14px;
    --caption-lh: 16px;
    --black: #323335;
    --blue: #0a0a89;
    --link-color: #1818cc;
}

*, *:before, *:after { box-sizing: border-box; }

/* Basics */
html {
    background-color: #bfc6d1;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
    color: var(--black);
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a {
    color: var(--link-color);
}

/* Header */
header {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
h1 {
    font-size: 20px;
    color: var(--blue);
    font-style: italic;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 20px 0;
}

/* Navigation */
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 10px;
}
nav a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--link-color);
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
nav a img {
    width: 92px;
    height: 92px;
    object-fit: contain;
}
nav a.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* Writing */
p, blockquote, ul, ol {
    font-size: var(--p-fs);
    line-height: var(--p-lh);
}
p, blockquote, figcaption, figure {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

figure.large {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Figures */
figure {
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
}
figure figcaption {
    margin-top: 10px;
    font-size: var(--caption-fs);
    line-height: var(--caption-lh);
}
.overlay-and-video {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
.overlay-and-video img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
    /* mix-blend-mode: multiply; */
}
.overlay-and-video video {
    width: 100%;
    object-fit: cover;
}